.side {
  width: 24%;
  margin: 0px auto;
  padding: 10px;
}

.searchform .s {
  background: #fff;
  padding: 11px 50px 11px 10px;
  width: 80%;
  font-size: 14px;
  border: 1px solid #ccc;
}

.searchsubmit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  padding: 0;
  border-left: none;
  border-radius: 0 3px 3px 0;
}

.img_profile {
  width: 60%;
  height: 60%;
}

.name {
  font-weight: bold;
  line-height: 1.2;
}

.img_meta {
  padding: 0.5em 0;
}

.meta {
  padding: 0.5em 1em;
  font-size: 0.9em;
}

.widgettitle .li {
  display: block;
  padding: 0.8em 1em;
  margin: 0;
  position: relative;
  font-size: 0.9em;
}
